.avatar {
    --backgroundImage-avatar: url(); /* 參照 Mockup，可覆寫 */
    --backgroundColor-avatar: transparent; /* 參照 Mockup，可覆寫 */
    background: var(--backgroundImage-avatar) no-repeat center / cover;
    height: 56px;
    width: 56px;
    border-radius: 8px;
    display: flex; justify-content: center; align-items: center; /* 內容物置中 */
    background-color: var(--backgroundColor-avatar);
    color: var(--color-white-9);
    box-sizing: border-box;
    flex-shrink: 0;
  }
  .avatar .icon {
    --size-icon: calc(32 / 56 * 100%);
  }
  .avatar.avatar--xs {
    height: 40px;
    width: 40px;
  }
  .avatar.avatar--sm {
    height: 48px;
    width: 48px;
  }
  .avatar.avatar--lg {
    height: 64px;
    width: 64px;
  }
  .avatar--rounded {
    border-radius: 50%;
  }