@font-face {
    font-family: 'MyTSMC_Iconfont';
    src:  url('fonts/MyTSMC_Iconfont.eot?o20mac');
    src:  url('fonts/MyTSMC_Iconfont.eot?o20mac#iefix') format('embedded-opentype'),
      url('fonts/MyTSMC_Iconfont.ttf?o20mac') format('truetype'),
      url('fonts/MyTSMC_Iconfont.woff?o20mac') format('woff'),
      url('fonts/MyTSMC_Iconfont.svg?o20mac#MyTSMC_Iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="Iconfont_"], [class*=" Iconfont_"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'MyTSMC_Iconfont' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .Iconfont_Icon_Material:before {
    content: "\e933";
  }
  .Iconfont_Icon_NBPC:before {
    content: "\e935";
  }
  .Iconfont_Icon_Sixlvs:before {
    content: "\e937";
  }
  .Iconfont_Icon_PartsID:before {
    content: "\e939";
  }
  .Iconfont_Icon_Vendor:before {
    content: "\e93b";
  }
  .Iconfont_Icon_JCAN:before {
    content: "\e93d";
  }
  .Iconfont_Icon_PRPO:before {
    content: "\e93f";
  }
  .Iconfont_Icon_WebMaster:before {
    content: "\e92f";
  }
  .Iconfont_Icon_Sitemap:before {
    content: "\e931";
  }
  .Iconfont_Icon_MM:before {
    content: "\e92d";
  }
  .Iconfont_Icon_iCharity:before {
    content: "\e92b";
  }
  .Iconfont_Icon_More:before {
    content: "\e929";
  }
  .Iconfont_Icon_Password_Hidden:before {
    content: "\e925";
  }
  .Iconfont_Icon_Password_Visible:before {
    content: "\e927";
  }
  .Iconfont_Icon_Like_Fill:before {
    content: "\e921";
  }
  .Iconfont_Icon_Like_Stroke:before {
    content: "\e922";
  }
  .Iconfont_Icon_Reply:before {
    content: "\e923";
  }
  .Iconfont_Icon_Covid:before {
    content: "\e91f";
  }
  .Iconfont_Icon_Shift:before {
    content: "\e920";
  }
  .Iconfont_Icon_SMS:before {
    content: "\e91c";
  }
  .Iconfont_Icon_Call_hang:before {
    content: "\e91d";
  }
  .Iconfont_Icon_Call_Dial:before {
    content: "\e91e";
  }
  .Iconfont_Icon_Remove_Tag:before {
    content: "\e91b";
  }
  .Iconfont_Icon_Add_Tag:before {
    content: "\e91a";
  }
  .Iconfont_Icon_Error_Stroke:before {
    content: "\e916";
  }
  .Iconfont_Icon_Success_Stroke:before {
    content: "\e917";
  }
  .Iconfont_Icon_Trash:before {
    content: "\e918";
  }
  .Iconfont_Icon_Department:before {
    content: "\e915";
  }
  .Iconfont_Icon_TreeDrop:before {
    content: "\e919";
  }
  .Iconfont_Icon_Error:before {
    content: "\e911";
  }
  .Iconfont_Icon_Success:before {
    content: "\e93c";
  }
  .Iconfont_Bookmark_Solid:before {
    content: "\e909";
  }
  .Iconfont_Bookmark_Line:before {
    content: "\e908";
  }
  .Iconfont_Change_Font_02:before {
    content: "\e90b";
  }
  .Iconfont_Change_Font_01:before {
    content: "\e90a";
  }
  .Iconfont_Icon_Hamburger:before {
    content: "\e926";
  }
  .Iconfont_Arrow_Thin_Up:before {
    content: "\e907";
  }
  .Iconfont_Arrow_Thin_Left:before {
    content: "\e905";
  }
  .Iconfont_Arrow_Thin_Down:before {
    content: "\e904";
  }
  .Iconfont_Arrow_Thin_Right:before {
    content: "\e906";
  }
  .Iconfont_Arrow_Bold_Up:before {
    content: "\e903";
  }
  .Iconfont_Arrow_Bold_Left:before {
    content: "\e901";
  }
  .Iconfont_Arrow_Bold_Down:before {
    content: "\e900";
  }
  .Iconfont_Arrow_Bold_Right:before {
    content: "\e902";
  }
  .Iconfont_Icon_Back:before {
    content: "\e90c";
  }
  .Iconfont_Icon_Delete:before {
    content: "\e90f";
  }
  .Iconfont_Icon_Clear:before {
    content: "\e90e";
  }
  .Iconfont_Icon_Fax:before {
    content: "\e912";
  }
  .Iconfont_Icon_History:before {
    content: "\e928";
  }
  .Iconfont_Icon_Org_Code:before {
    content: "\e932";
  }
  .Iconfont_Icon_Tag:before {
    content: "\e93e";
  }
  .Iconfont_Icon_Globel:before {
    content: "\e924";
  }
  .Iconfont_Icon_Combination:before {
    content: "\e914";
  }
  .Iconfont_Icon_Article:before {
    content: "\e913";
  }
  .Iconfont_Icon_Man:before {
    content: "\e92c";
  }
  .Iconfont_Icon_Team:before {
    content: "\e940";
  }
  .Iconfont_Icon_Member:before {
    content: "\e92e";
  }
  .Iconfont_Icon_Teams:before {
    content: "\e942";
  }
  .Iconfont_Icon_Skype:before {
    content: "\e93a";
  }
  .Iconfont_Icon_NT_Account:before {
    content: "\e930";
  }
  .Iconfont_Icon_Location:before {
    content: "\e92a";
  }
  .Iconfont_Icon_Org:before {
    content: "\e934";
  }
  .Iconfont_Icon_Email:before {
    content: "\e910";
  }
  .Iconfont_Icon_Cell_Phone:before {
    content: "\e90d";
  }
  .Iconfont_Icon_Phone:before {
    content: "\e936";
  }
  .Iconfont_Icon_Search:before {
    content: "\e938";
  }
  