@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@font-face {
  font-family: Microsoft JhengHei Medium;
  font-weight: 500;
  src: local("微軟正黑體 Bold"), local("Microsoft JhengHei UI Bold"), local("Microsoft JhengHei Bold");
}
html {
  --font-family: Roboto, Segoe UI, Helvetica, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, PingFang TC, 微軟正黑體, Microsoft JhengHei, Microsoft YaHei, Hiragino Sans GB;
  --font-family-for-windows: Roboto, Segoe UI, Helvetica, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, PingFang TC, Microsoft JhengHei Medium, Microsoft JhengHei, Microsoft YaHei, Hiragino Sans GB;
  --font-size-root: 16px;
  --font-size-article: 16px;
  --font-h1-700: 700 3rem/1.3 var(--font-family);
  --font-h1-300: 300 3rem/1.3 var(--font-family);
  --font-h1-300-article: 300 3em/1.3 var(--font-family);
  --font-h2-500: 500 2rem/1.3 var(--font-family-for-windows);
  --font-h2-400: 400 2rem/1.3 var(--font-family);
  --font-h2-300: 300 2rem/1.3 var(--font-family);
  --font-h2-500-article: 500 2em/1.3 var(--font-family-for-windows);
  --font-h3-700: 700 1.5rem/1.3 var(--font-family);
  --font-h3-500: 500 1.5rem/1.3 var(--font-family-for-windows);
  --font-h3-400: 400 1.5rem/1.3 var(--font-family);
  --font-h3-300: 300 1.5rem/1.3 var(--font-family);
  --font-h3-500-article: 500 1.5em/1.5 var(--font-family-for-windows);
  --font-h4-700: 700 1.25rem/1.3 var(--font-family);
  --font-h4-500: 500 1.25rem/1.3 var(--font-family-for-windows);
  --font-h4-400: 400 1.25rem/1.3 var(--font-family);
  --font-body-l-700: 700 1.25rem/1.5 var(--font-family);
  --font-body-l-500: 500 1.25rem/1.5 var(--font-family-for-windows);
  --font-body-l-400: 400 1.25rem/1.5 var(--font-family);
  --font-body-l-700-article: 700 1.25em/1.7 var(--font-family);
  --font-body-l-400-article: 400 1.25em/1.7 var(--font-family);
  --font-body-m-700: 700 1rem/1.5 var(--font-family);
  --font-body-m-500: 500 1rem/1.5 var(--font-family-for-windows);
  --font-body-m-400: 400 1rem/1.5 var(--font-family);
  --font-body-m-700-article: 700 1em/1.7 var(--font-family);
  --font-body-m-400-article: 400 1em/1.7 var(--font-family);
  --font-body-s-700: 700 0.875rem/1.5 var(--font-family);
  --font-body-s-500: 500 0.875rem/1.5 var(--font-family-for-windows);
  --font-body-s-400: 400 0.875rem/1.5 var(--font-family);
  --font-body-s-700-article: 700 0.875em/1.7 var(--font-family);
  --font-body-s-400-article: 400 0.875em/1.7 var(--font-family);
  --font-detail-l-400: 400 1rem/1.3 var(--font-family);
  --font-detail-m-400: 400 0.875rem/1.3 var(--font-family);
  --font-detail-m-400-article: 400 0.875em/1.5 var(--font-family);
  --font-detail-s-500: 500 0.75rem/1.3 var(--font-family-for-windows);
  --size-root: 8px;
  --size-25: calc(var(--size-root) * 0.25);
  --size-50: calc(var(--size-root) * 0.5);
  --size-100: var(--size-root);
  --size-150: calc(var(--size-root) * 1.5);
  --size-200: calc(var(--size-root) * 2);
  --size-250: calc(var(--size-root) * 2.5);
  --size-300: calc(var(--size-root) * 3);
  --size-350: calc(var(--size-root) * 3.5);
  --size-400: calc(var(--size-root) * 4);
  --size-450: calc(var(--size-root) * 4.5);
  --size-500: calc(var(--size-root) * 5);
  --size-600: calc(var(--size-root) * 6);
  --size-700: calc(var(--size-root) * 7);
  --size-800: calc(var(--size-root) * 8);
  --size-900: calc(var(--size-root) * 9);
  --size-1000: calc(var(--size-root) * 10);
  --size-1200: calc(var(--size-root) * 12);
  --size-1500: calc(var(--size-root) * 15);
  --size-1600: calc(var(--size-root) * 16);
  --size-1800: calc(var(--size-root) * 18);
  --size-2000: calc(var(--size-root) * 20);
  --size-2400: calc(var(--size-root) * 24);
  --size-2500: calc(var(--size-root) * 25);
  --size-3000: calc(var(--size-root) * 30);
  --size-3200: calc(var(--size-root) * 32);
  --size-3500: calc(var(--size-root) * 35);
  --size-4000: calc(var(--size-root) * 40);
  --size-5000: calc(var(--size-root) * 50);
  --size-static-25: 2px;
  --size-static-50: 4px;
  --size-static-100: 8px;
  --size-static-150: 12px;
  --size-static-200: 16px;
  --size-static-250: 20px;
  --size-static-300: 24px;
  --size-static-350: 28px;
  --size-static-400: 32px;
  --size-static-450: 36px;
  --size-static-500: 40px;
  --size-static-600: 48px;
  --size-static-700: 56px;
  --size-static-800: 64px;
  --size-static-900: 72px;
  --size-static-1000: 80px;
  --size-static-1200: 96px;
  --size-static-1500: 120px;
  --size-static-1600: 128px;
  --size-static-1800: 144px;
  --size-static-2000: 160px;
  --size-static-2400: 192px;
  --size-static-2500: 200px;
  --size-static-3000: 240px;
  --size-static-3200: 256px;
  --size-static-3500: 280px;
  --size-static-4000: 320px;
  --size-static-5000: 400px;
  --elevation-2px: 0 2px 8px rgba(0, 0, 0, 0.09);
  --elevation-8px: 0 8px 16px rgba(0, 0, 0, 0.02);
  --elevation-8px-focus: 0 8px 16px rgba(0, 0, 0, 0.04);
  --elevation-16px: 0 16px 32px rgba(0, 0, 0, 0.02);
  --elevation-16px-focus: 0 16px 32px rgba(0, 0, 0, 0.04);
  --blur-20px: blur(20px) brightness(200%);
  --opacity-disable: 0.45;
  --color-neutral-1: rgba(0, 0, 0, 0.02);
  --color-neutral-2: rgba(0, 0, 0, 0.04);
  --color-neutral-3: rgba(0, 0, 0, 0.06);
  --color-neutral-4: rgba(0, 0, 0, 0.09);
  --color-neutral-5: rgba(0, 0, 0, 0.15);
  --color-neutral-6: rgba(0, 0, 0, 0.25);
  --color-neutral-7: rgba(0, 0, 0, 0.45);
  --color-neutral-8: rgba(0, 0, 0, 0.65);
  --color-neutral-9: rgba(0, 0, 0, 0.85);
  --color-mask: rgba(0, 0, 0, 0.45);
  --color-surface: white;
  --color-white-4: rgba(255, 255, 255, 0.15);
  --color-white-5: rgba(255, 255, 255, 0.2);
  --color-white-6: rgba(255, 255, 255, 0.3);
  --color-white-7: rgba(255, 255, 255, 0.45);
  --color-white-8: rgba(255, 255, 255, 0.85);
  --color-white-9: white;
  --color-333: #333333;
  --color-bg-canvas: white;
  --color-surface-opaque: white;
  --color-neutral-1-opaque: #fafafa;
  --color-neutral-2-opaque: #f5f5f5;
  --color-neutral-3-opaque: #f0f0f0;
  --color-neutral-4-opaque: #e8e8e8;
  --color-neutral-5-opaque: #d9d9d9;
  --color-neutral-6-opaque: #bfbfbf;
  --color-neutral-7-opaque: #8c8c8c;
  --color-neutral-8-opaque: #595959;
  --color-neutral-9-opaque: #262626;
  --color-primary-1: #ebf3ff;
  --color-primary-2: #bcd8fc;
  --color-primary-3: #8ebcf9;
  --color-primary-4: #61a2f6;
  --color-primary-5: #3588f3;
  --color-primary-6: #0a6ef0;
  --color-primary-7: #0858bf;
  --color-primary-8: #06428f;
  --color-primary-9: #042b5e;
  --color-primary-10: #02152e;
  --color-primary-hover: #3588f3;
  --color-primary-click: #0858bf;
  --color-success-1: #ebffeb;
  --color-success-2: #b7f2b9;
  --color-success-3: #89e48a;
  --color-success-4: #5ed760;
  --color-success-5: #38c93b;
  --color-success-6: #16bc19;
  --color-success-7: #129814;
  --color-success-8: #0e7510;
  --color-success-9: #0a510b;
  --color-success-10: #052e06;
  --color-success-hover: #38c93b;
  --color-success-click: #129814;
  --color-error-1: #fff1eb;
  --color-error-2: #fbd0bc;
  --color-error-3: #f7af8f;
  --color-error-4: #f49063;
  --color-error-5: #f07238;
  --color-error-6: #ec540f;
  --color-error-7: #bc430c;
  --color-error-8: #8d3209;
  --color-error-9: #5d2106;
  --color-error-10: #2e1003;
  --color-error-hover: #f07238;
  --color-error-click: #bc430c;
  --color-warning-1: #fffaeb;
  --color-warning-2: #fff1bf;
  --color-warning-3: #ffe793;
  --color-warning-4: #ffdd67;
  --color-warning-5: #ffd43b;
  --color-warning-6: #ffca0f;
  --color-warning-7: #cba10c;
  --color-warning-8: #967709;
  --color-warning-9: #624e06;
  --color-warning-10: #2e2403;
  --color-warning-hover: #ffd43b;
  --color-warning-click: #cba10c;
  --color-tsmc-logo: #df3232;
  --color-tsmc-1: #ffebeb;
  --color-tsmc-2: #f7b8b8;
  --color-tsmc-3: #ef8989;
  --color-tsmc-4: #e75c5c;
  --color-tsmc-5: #df3232;
  --color-tsmc-6: #d70b0b;
  --color-tsmc-7: #ad0909;
  --color-tsmc-8: #820707;
  --color-tsmc-9: #580505;
  --color-tsmc-10: #2e0202;
  --color-tsmc-hover: #df3232;
  --color-tsmc-click: #ad0909;
  --color-indigo-1: #ebeeff;
  --color-indigo-2: #c5cefe;
  --color-indigo-3: #a0aefd;
  --color-indigo-4: #7c8ffc;
  --color-indigo-5: #5770fb;
  --color-indigo-6: #3351fa;
  --color-indigo-7: #2940c7;
  --color-indigo-8: #1e3094;
  --color-indigo-9: #141f61;
  --color-indigo-10: #090f2e;
  --color-indigo-hover: #5770fb;
  --color-indigo-click: #2940c7;
  --color-turquoise-1: #ebfeff;
  --color-turquoise-2: #bbebee;
  --color-turquoise-3: #90d9dd;
  --color-turquoise-4: #69c6cd;
  --color-turquoise-5: #47b5bc;
  --color-turquoise-6: #2aa3ab;
  --color-turquoise-7: #22858c;
  --color-turquoise-8: #1b676c;
  --color-turquoise-9: #134a4d;
  --color-turquoise-10: #0b2c2e;
  --color-turquoise-hover: #47b5bc;
  --color-turquoise-click: #22858c;
  font-size: var(--font-size-root);
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-bg-canvas);
}
html.dark {
  --blur-20px: blur(20px) brightness(12%);
  --color-neutral-1: rgba(255, 255, 255, 0.04);
  --color-neutral-2: rgba(255, 255, 255, 0.08);
  --color-neutral-3: rgba(255, 255, 255, 0.12);
  --color-neutral-4: rgba(255, 255, 255, 0.15);
  --color-neutral-5: rgba(255, 255, 255, 0.2);
  --color-neutral-6: rgba(255, 255, 255, 0.3);
  --color-neutral-7: rgba(255, 255, 255, 0.45);
  --color-neutral-8: rgba(255, 255, 255, 0.85);
  --color-neutral-9: rgba(255, 255, 255, 0.98);
  --color-mask: rgba(0, 0, 0, 0.65);
  --color-surface: rgba(255, 255, 255, 0.08);
  --color-bg-canvas: #0a0a0a;
  --color-surface-opaque: #1f1f1f;
  --color-neutral-1-opaque: #0a0a0a;
  --color-neutral-2-opaque: #141414;
  --color-neutral-3-opaque: #1f1f1f;
  --color-neutral-4-opaque: #262626;
  --color-neutral-5-opaque: #333333;
  --color-neutral-6-opaque: #4d4d4d;
  --color-neutral-7-opaque: #737373;
  --color-neutral-8-opaque: #d9d9d9;
  --color-neutral-9-opaque: #fafafa;
  --color-primary-1: #05172e;
  --color-primary-2: #092b58;
  --color-primary-3: #0d4082;
  --color-primary-4: #1154ab;
  --color-primary-5: #1669d5;
  --color-primary-6: #1a7eff;
  --color-primary-7: #4e9bff;
  --color-primary-8: #82b8ff;
  --color-primary-9: #b6d6ff;
  --color-primary-10: #ebf3ff;
  --color-primary-hover: #4e9bff;
  --color-primary-click: #1669d5;
  --color-success-1: #082e09;
  --color-success-2: #0e4d0f;
  --color-success-3: #136d15;
  --color-success-4: #198c1b;
  --color-success-5: #1eac21;
  --color-success-6: #24cb27;
  --color-success-7: #4ed851;
  --color-success-8: #7ee580;
  --color-success-9: #b2f2b3;
  --color-success-10: #ebffeb;
  --color-success-hover: #4ed851;
  --color-success-click: #1eac21;
  --color-error-1: #2e1206;
  --color-error-2: #57230b;
  --color-error-3: #803310;
  --color-error-4: #a94315;
  --color-error-5: #d2531a;
  --color-error-6: #fb641f;
  --color-error-7: #fc8751;
  --color-error-8: #fdaa84;
  --color-error-9: #fecdb7;
  --color-error-10: #fff1eb;
  --color-error-hover: #fc8751;
  --color-error-click: #d2531a;
  --color-warning-1: #2e2505;
  --color-warning-2: #58470a;
  --color-warning-3: #82680f;
  --color-warning-4: #ab8a14;
  --color-warning-5: #d5ac19;
  --color-warning-6: #ffcd1e;
  --color-warning-7: #ffd951;
  --color-warning-8: #ffe484;
  --color-warning-9: #ffefb8;
  --color-warning-10: #fffaeb;
  --color-warning-hover: #ffd951;
  --color-warning-click: #d5ac19;
  --color-tsmc-logo: #df3232;
  --color-tsmc-1: #2e0a0a;
  --color-tsmc-2: #511212;
  --color-tsmc-3: #751a1a;
  --color-tsmc-4: #982222;
  --color-tsmc-5: #bc2a2a;
  --color-tsmc-6: #df3232;
  --color-tsmc-7: #e75c5c;
  --color-tsmc-8: #ef8989;
  --color-tsmc-9: #f7b8b8;
  --color-tsmc-10: #ffebeb;
  --color-tsmc-hover: #e75c5c;
  --color-tsmc-click: #bc2a2a;
  --color-indigo-1: #0c112e;
  --color-indigo-2: #172158;
  --color-indigo-3: #223182;
  --color-indigo-4: #2d40ab;
  --color-indigo-5: #3850d5;
  --color-indigo-6: #4360ff;
  --color-indigo-7: #6d83ff;
  --color-indigo-8: #97a7ff;
  --color-indigo-9: #c1caff;
  --color-indigo-10: #ebeeff;
  --color-indigo-hover: #6d83ff;
  --color-indigo-click: #3850d5;
  --color-turquoise-1: #0e2c2e;
  --color-turquoise-2: #17474a;
  --color-turquoise-3: #1f6266;
  --color-turquoise-4: #287d82;
  --color-turquoise-5: #30979e;
  --color-turquoise-6: #39b2ba;
  --color-turquoise-7: #5dc5cb;
  --color-turquoise-8: #87d7dd;
  --color-turquoise-9: #b6eaee;
  --color-turquoise-10: #ebfeff;
  --color-turquoise-hover: #5dc5cb;
  --color-turquoise-click: #30979e;
}
@media screen and (max-width: 767px) {
  html {
    --font-h1-700: 700 2rem/1.3 var(--font-family);
    --font-h1-300: 300 2rem/1.3 var(--font-family);
    --font-h1-300-article: 300 2em/1.3 var(--font-family);
    --font-h2-500: 500 1.5rem/1.3 var(--font-family-for-windows);
    --font-h2-400: 400 1.5rem/1.3 var(--font-family);
    --font-h2-300: 300 1.5rem/1.3 var(--font-family);
    --font-h2-500-article: 500 1.5em/1.3 var(--font-family-for-windows);
    --font-h3-700: 700 1.375rem/1.3 var(--font-family);
    --font-h3-500: 500 1.375rem/1.3 var(--font-family-for-windows);
    --font-h3-400: 400 1.375rem/1.3 var(--font-family);
    --font-h3-300: 300 1.375rem/1.3 var(--font-family);
    --font-h3-500-article: 500 1.375em/1.5 var(--font-family-for-windows);
  }
}
h1, h2, h3, p, ol, ul, a {
  /* 以下皆用以洗掉預設樣式 */
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0; /* 洗掉 ol, ul 預設的樣式 */
  text-decoration: none; /* 洗掉 a 的底線 */
  color: inherit; /* 洗掉 a 的顏色 */
}